@import '/src/styles/variables';

.result-summary {
  margin-top: $margin-m;
  border: 1px solid $color-gray50;
  border-radius: $border-radius-m;
  padding-top: $padding-l;
  overflow: hidden;

  .monthly-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $padding-l;

    .label {
      font-family: 'Work Sans';
      font-size: 20px;
    }

    .value {
      font-family: 'Rubik';
      font-size: 32px;
      color: $color-secondary;
    }
  }

  .description-container {
    padding: $padding-m $padding-l;
    background: $color-gray10;

    p {
      font-family: 'Work Sans';
      font-size: 12px;
    }
  }
}
