@import '/src/styles/variables';
@import 'styles/mixins';

.date-input {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  label {
    font-family: 'Work Sans';
    font-size: 14px;

    @include mobile-layout {
      font-size: 12px;
    }
  }

  .input-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $color-gray50;
    height: $form-element-height;
    border-radius: $border-radius-s;
    padding: 4px 8px;
    background: #fff;
    cursor: pointer;
  }

  button {
    background: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .value-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans';
    font-size: 16px;

    @include mobile-layout {
      font-size: 14px;
    }

    .month {
      font-weight: 600;
    }

    .year {
      color: $color-gray400;
    }
  }
}
