$color-text-primary: #1e2a32;
$color-primary: #1b31a8;
$color-main-bg: #e5e5e5;

$padding-xs: 8px;
$padding-s: 16px;
$padding-m: 24px;
$padding-l: 32px;
$padding-xl: 40px;

$margin-xs: 8px;
$margin-s: 16px;
$margin-m: 24px;
$margin-l: 32px;
$margin-xl: 40px;

$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 32px;
