@import '/src/styles/variables';

.saving-goals {
  display: flex;
  justify-content: center;
  margin-top: 48px;

  .saving-goals-content {
    width: 560px;
  }

  h2 {
    margin-bottom: 4px;
  }

  h3 {
    text-align: center;
    margin-bottom: $margin-m;
  }
  .subtitle {
    font-family: 'Work Sans';
    font-size: 16px;
    color: $color-gray400;
  }

  .card-header {
    display: flex;
    align-items: center;
    column-gap: $margin-s;
    margin-bottom: 28px;

    .header-icon {
      width: 64px;
      height: 64px;
    }
  }

  .actions-container {
    display: flex;
    justify-content: center;
    margin-top: $margin-l;
  }
}
