@import 'styles/_variables';
@import 'styles/mixins';

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  top: 0;
  position: sticky;
  padding: 0 56px;
  background: #fff;

  @include mobile-layout {
    height: 56px;
    padding: 0 16px;
  }

  .logo {
    width: 100px;
    height: 32px;
    @include mobile-layout {
      width: 75px;
      height: 24px;
    }
  }
}
