@import 'styles/globals';

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik-Italic'),
    url('assets/fonts/Rubik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik';
  src: local('Rubik-SemiBold'),
    url('assets/fonts/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: local('Rubik-Bold'),
    url('assets/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: local('Rubik-BoldItalic'),
    url('assets/fonts/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Work Sans';
  src: local('WorkSans-Regular'),
    url('assets/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: local('WorkSans-Italic'),
    url('assets/fonts/WorkSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Work Sans';
  src: local('WorkSans-Bold'),
    url('assets/fonts/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: local('WorkSans-BoldItalic'),
    url('assets/fonts/WorkSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
